<div class="container-xxl py-5">
  <div class="container px-lg-5">
    <div class="row g-5">
      <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
        <div class="section-title position-relative mb-4 pb-2">
          <h3 class="mt-2">Sales Managers & Chief Revenue Officers</h3>
        </div>

        <div class="col-sm-12">
          <h6 class="mb-3">
            <i class="fa fa-check text-primary me-2"></i>
            Growing and Scaling labyrinth
          </h6>
          <p>
            The most critical challenge in the growth dynamics for Sales
            managers and CROs is to find the miracle formula and be able to
            replicate it constantly. The formula is very complex including
            alignment of thousands of factors related to people, process and
            tools.
          </p>
          <h6 class="mb-3">
            <i class="fa fa-check text-primary me-2"></i>
            Replicate Sales Teams Success
          </h6>
          <p>
            ValueOrbit makes winning a predictive and repeatable process by
            Identifying why you win, replicate the best practices and build a
            team of "A" players.
          </p>
        </div>
      </div>
    </div>

    <div class="row g-5">
      <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
        <div class="section-title position-relative mb-4 pb-2">
          <h3 class="mt-2">Sales Reps</h3>
        </div>

        <div class="col-sm-12">
          <h6 class="mb-3">
            <i class="fa fa-check text-primary me-2"></i>
            Administrative work and adhoc wins
          </h6>
          <p>
            Sales reps spend an average of 8 hours per week on reporting; CRM
            update and tens of other tools that take the attention away from
            sales actions. They are not able to understand why deals are not
            progressing and what should be done to accelerate sales.
          </p>
          <h6 class="mb-3">
            <i class="fa fa-check text-primary me-2"></i>
            Unlock Sales Teams Potential
          </h6>
          <p>
            ValueOrbit automates repetitive CRM updates and repetitive tasks,
            analyses deals progress and guide sales on which deals to work and
            what is the best next action to hit the target including coaching
            requests and enablement actions.
          </p>
        </div>
      </div>
    </div>

    <div class="row g-5">
      <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
        <div class="section-title position-relative mb-4 pb-2">
          <h3 class="mt-2">Sales Operations</h3>
        </div>

        <div class="col-sm-12">
          <h6 class="mb-3">
            <i class="fa fa-check text-primary me-2"></i>
            Forecast inaccuracy and execution inconsistency
          </h6>
          <p>
            Revenue Operations can get lost in execution data and forecasting
            complexity versus providing executive management with path to
            predictability and repeatability.
          </p>
          <h6 class="mb-3">
            <i class="fa fa-check text-primary me-2"></i>
            Accelerate GTM and Call Your Number With Confidence
          </h6>
          <p>
            ValueOrbit guide revenue leaders on key deals actions to accelerate
            execution and achieve 98% forecast accuracy.
          </p>
        </div>
      </div>
    </div>

    <div class="row g-5">
      <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
        <div class="section-title position-relative mb-4 pb-2">
          <h3 class="mt-2">
            Use Case 1: Get In Control Of Your Revenue Execution
          </h3>
        </div>

        <div class="col-sm-12">
          <h6 class="mb-3">
            <i class="fa fa-check text-primary me-2"></i>
            What: Guide your Sales Teams on How To Forecast Accurately And
            Achieve Your Target
          </h6>
          <p>
            Automate the sales playbook best practices and connect them to your
            execution
          </p>
          <h6 class="mb-3">
            <i class="fa fa-check text-primary me-2"></i>
            How: Deploy Winning Revenue Best Practices
          </h6>
          <p>
            Implement and customize world leading playbook process flow
            leveraging the ready to use MEDDICC template. MEDDICC stands for:
            Metrics, Economic buyer, Decision criteria, Decision process,
            Indicate pain, Champion, and Competition. ValueOrbit will
            automatically integrate out of the box MEDDICC template and
            reporting to your CRM sales process, provide you with deals
            activities progress and leverage AI to guide you on what deal to
            work on and recommend the next best action and its impact on the
            forecast. ValueOrbit AI will look for the common characteristics to
            win the deal and to lose the deal.
          </p>

          <h6 class="mb-3">
            <i class="fa fa-check text-primary me-2"></i>
            Why: You are not confident about your forecast and team performance
          </h6>
          <p>
            Your current CRM data is not sufficient to achieve predictable
            revenue growth and increase teams productivity and wellbeing
            ValueOrbit will increase your win rate by 25%, Sales cycle by 30%
            and forecast accuracy by 25%.
          </p>
        </div>
      </div>
    </div>

    <div class="row g-5">
      <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
        <div class="section-title position-relative mb-4 pb-2">
          <h3 class="mt-2">Use Case 2: Forecast Based on Team Competencies</h3>
        </div>

        <div class="col-sm-12">
          <h6 class="mb-3">
            <i class="fa fa-check text-primary me-2"></i>
            What: Guide your Sales Teams on What Competencies To Develop To
            Achieve Your Target
          </h6>
          <p>
            Automate the revenue team competencies evaluation and connect them
            to your execution (CRM)
          </p>
          <h6 class="mb-3">
            <i class="fa fa-check text-primary me-2"></i>
            How: Deploy Winning Competencies Evaluation Best Practices
          </h6>
          <p>
            Implement and customize team competencies evaluation process based
            on out of the box templates or integrate competencies evaluation
            data with top ERPs like Workday. Leverage AI to guide teams on
            competencies gaps based on execution patterns and notify managers
            with coaching requirements for critical deals. ValueOrbit AI will
            look for the common competencies characteristics to win the deal and
            to lose the deal.
          </p>

          <h6 class="mb-3">
            <i class="fa fa-check text-primary me-2"></i>
            Why: You are not confident about your forecast and team performance
          </h6>
          <p>
            Your current ERP & CRM data are not sufficient to achieve
            predictable revenue growth and increase teams productivity and
            wellbeing ValueOrbit will increase your win rate by 25%, Sales cycle
            by 30% and forecast accuracy by 25%.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
