<div class="container">
  <!-- <h4>Timeline Style : Demo-6</h4> -->
  <div class="row">
    <div class="col-md-12">
      <div class="main-timeline6">
        <div class="timeline">
          <div class="timeline-content">
            <span class="year">Deal Intelligence </span>
            <span class="subtitle"
              >Need better control and consistency in deal execution
            </span>
            <div class="content-inner">
              <span class="icon"><i class="fa fa-globe"></i></span>
              <!-- <h3 class="title">Deal Intelligence</h3> -->
              <p class="mb-0 small text-white">
                <i class="fa fa-check text-white me-2"></i>Get insight on your
                deal health and risk
              </p>
              <p class="mb-0 small text-white">
                <i class="fa fa-check text-white me-2"></i>Manage simple custom
                process flows related to the deal (e.g. Automate MEDDIC the
                leading sales qualification methodology)
              </p>
              <p class="mb-0 small text-white">
                <i class="fa fa-check text-white me-2"></i>Monitor execution
                progress and identify coaching conversations
              </p>
              <p class="mb-0 small text-white">
                <i class="fa fa-check text-white me-2"></i>Leverage the power of
                AI to identify the fastest way to win the deal
              </p>
            </div>
          </div>
        </div>
        <div class="timeline">
          <div class="timeline-content">
            <span class="year">Forecast Intelligence </span>
            <span class="subtitle"
              >Need to call your number with confidence
            </span>
            <div class="content-inner">
              <span class="icon"><i class="fa fa-rocket"></i></span>

              <!-- <h3 class="title">Web Developer</h3> -->

              <!-- <h3 class="title">Deal Intelligence</h3> -->
              <p class="mb-0 small text-white">
                <i class="fa fa-check text-white me-2"></i> Make your forecast
                accurate by having access to pipeline health; risks; cadence;
                deal execution status and process flows progress
              </p>
              <p class="mb-0 small text-white">
                <i class="fa fa-check text-white me-2"></i>Challenge your number
                with AI forecast and best case
              </p>
              <p class="mb-0 small text-white">
                <i class="fa fa-check text-white me-2"></i>Leverage AI powered
                signals and next best actions to improve your forecast
              </p>
            </div>
          </div>
        </div>
        <div class="timeline">
          <div class="timeline-content">
            <span class="year">Team Intelligence </span>
            <span class="subtitle"
              >Your team's talent is disconnected from sales reality
            </span>
            <div class="content-inner">
              <span class="icon"><i class="fa fa-briefcase"></i></span>
              <!-- <h3 class="title">Web Designer</h3> -->
              <p class="mb-0 small text-white">
                <i class="fa fa-check text-white me-2"></i>Automate team
                onboarding and enablement
              </p>
              <p class="mb-0 small text-white">
                <i class="fa fa-check text-white me-2"></i>Monitor continuously
                revenue teams temperature and competencies
              </p>
              <p class="mb-0 small text-white">
                <i class="fa fa-check text-white me-2"></i>Orchestrate team
                onboarding, enablement, temperature and competencies with
                forecast and deal management
              </p>
              <p class="mb-0 small text-white">
                <i class="fa fa-check text-white me-2"></i>Guide sales
                management on required coaching conversations and talent
                development to achieve revenue target
              </p>
            </div>
          </div>
        </div>
        <div class="timeline">
          <div class="timeline-content">
            <span class="year">Forecast Intelligence </span>
            <span class="subtitle"
              >Still suffering from heavy administrative work
            </span>
            <div class="content-inner">
              <span class="icon"><i class="fa fa-mobile"></i></span>

              <!-- <h3 class="title">Deal Intelligence</h3> -->
              <p class="mb-0 small text-white">
                <i class="fa fa-check text-white me-2"></i>Provide AI based
                dashboards and actionable insights
              </p>
              <p class="mb-0 small text-white">
                <i class="fa fa-check text-white me-2"></i>Guide revenue teams
                on data hygiene and missing critical data
              </p>
              <p class="mb-0 small text-white">
                <i class="fa fa-check text-white me-2"></i>Captures and syncs
                activity data into CRM across emails, meetings, and chats
              </p>
              <p class="mb-0 small text-white">
                <i class="fa fa-check text-white me-2"></i>Save hours of
                valuable selling time on CRM data entry
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
